<ul class="org-buttons">
  <li>
    <button
      type="button"
      hx-get="/partials/repos/<%= username %>"
      hx-target="#repo-container"
      hx-swap="innerHTML"
    ><%= username %> (personal)</button>
  </li>
  <% for (const org of orgs) { %>
    <li>
      <button
        type="button"
        hx-get="/partials/repos/<%= org %>"
        hx-target="#repo-container"
        hx-swap="innerHTML"
      ><%= org %></button>
    </li>
  <% } %>
</ul>
