<div class="repo-checkboxes">
  <% for (const repo of repos) { %>
    <label class="repo-item">
      <input
        type="checkbox"
        name="repos"
        value="<%= repo.fullName %>"
        <%= selectedRepos.includes(repo.fullName) ? 'checked' : '' %>
      >
      <span class="repo-name"><%= repo.fullName %></span>
      <% if (repo.description) { %>
        <span class="repo-desc"><%= repo.description %></span>
      <% } %>
    </label>
  <% } %>
</div>
